body{
    margin: 0px;
    min-width: 320px;
}

.title{
    height: 100% !important;
    margin-left: 20px;
    font-size: 2em;
}

.insticon{
    vertical-align: middle;
    margin-right: 10px;
}

.nomargin{
    margin-bottom: 0px;
}

.card-panel{
    padding: 16px;
}
.card-panel .row{
    margin-bottom: 0px;
}
.name{
    font-size: 1.5em;
}


.favo{
    color: #ffffff;
    font-size: 0.8em;
    width:24px;
    height:24px;
    background-image:url(img/favo.svg);
    background-size:100%;
    cursor: pointer;
}

.favo div{
    margin: 0px auto;
}

.metronome-needle{
    width: 3px;
    height: 100px;
    margin: 0px auto;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
    transform-origin: bottom center;
}

.metronome-box{
    position: relative;
    padding: 30px !important;
}

.metronome-tick-box{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: 0px auto;
    width: 20px;
    height: 100px;
    transform-origin: bottom center;
}

.left-30deg{
    transform: rotate(-30deg);
}
.right-30deg{
    transform: rotate(30deg);
}
.left-60deg{
    transform: rotate(-60deg);
}
.right-60deg{
    transform: rotate(60deg);
}

.metronome-counter {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: 0 auto;
    z-index: 10;
    text-align: left;
    width: 40px;
    font-size: 60px;
}

.rec-modal {
    max-height: -webkit-calc(100% - 64px) !important;
    max-height: calc(100% - 64px) !important;
    height: -webkit-calc(100% - 64px) !important;
    height: calc(100% - 64px) !important;
}

.modal-overlay {
    opacity: 0 !important;
}



/**************************
 * for page02_listrooms
 **************************/

 #page02_listrooms .card .card-image img {
     min-height: 120px;
 }
