body{
    margin: 0px;
    min-width: 520px;
}

.title{
    height: 100% !important;
    margin-left: 20px;
    font-size: 2em;
}

.insticon{
    vertical-align: middle;
    margin-right: 10px;
}

.nomargin{
    margin-bottom: 0px;
}

.card-panel{
    padding: 16px;
}
.card-panel .row{
    margin-bottom: 0px;
}
.name{
    font-size: 1.5em;
}


.favo{
    color: #ffffff;
    font-size: 0.8em;
    width:24px;
    height:24px;
    background-image:url(img/favo.svg);
    background-size:100%;
}

.favo div{
    margin: 0px auto;
}

.metronome-needle{
    width: 3px;
    height: 100px;
    margin: 0px auto;
    background-color: #000000;
    transform-origin: bottom center;
}
.left-45deg{
    transform: rotate(-45deg);
}
.right-45deg{
    transform: rotate(45deg);
}